<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265697214664-s26h0ssn0s99hom5abuitlk1kg6v6nq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265697214664-s26h0ssn0s99hom5abuitlk1kg6v6nq2</string>
	<key>API_KEY</key>
	<string>AIzaSyAG44FS1dcN8bxq-xCsApWZfUAEHv5vta4</string>
	<key>GCM_SENDER_ID</key>
	<string>265697214664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nazmul81.vatapp</string>
	<key>PROJECT_ID</key>
	<string>vatapp-1fd91</string>
	<key>STORAGE_BUCKET</key>
	<string>vatapp-1fd91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265697214664:ios:cff1d705e73b06040d25fd</string>
	<key>DATABASE_URL</key>
	<string>https://vatapp-1fd91.firebaseio.com</string>
</dict>
</plist>